# fly.toml app configuration file generated for tg-bot-lisener on 2026-01-09T10:14:29+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tg-bot-lisener'
primary_region = 'bom'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'
  PYTHONUNBUFFERED = '1'

[[mounts]]
  source = 'telegram_session'
  destination = '/app/sessions'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
